 
footer{
    margin-left: 3rem;
    a{
        transition: 0.1s linear;
        &:hover{
            transform: scale(1.5);
        }
    }
    p{
        font-size: 12px;
        letter-spacing: -0.17px;
        line-height: 41px;
    }
}
