 
footer{
    margin-left: 3rem;
    nav{
        padding-top: 4.6rem;
        padding-bottom: 1.7rem;
    }
    a{
        transition: 0.1s linear;
        &:hover{
            transform: scale(1.5);
        }
    }
    p{
        font-size: 12px;
        letter-spacing: -0.17px;
        line-height: 41px;
        padding-bottom: 2.5rem;
    }
}
