$wrapper-color1: #F5F5F5;

.services{
    .services-item{
        &:nth-of-type(odd){
            background-color: $wrapper-color1;
            a{
                &:hover{
                    background-color: darken($wrapper-color1, 10%);
                }
            }
        }
        &:nth-of-type(even){
            background-color: $primary; 
            a{
                &:hover{
                    background-color: darken($primary, 10%);
                }
            }
        } 
        .services-title{
            font-size: 20px;
            letter-spacing: 0;
            line-height: 24px;
            margin-bottom: 3rem;
            margin-top: 1rem;
        }
        aside{
            a{
                text-align: center;
                border: 1px solid $gray-900;
                border-radius: 0;
                margin-bottom: 1rem;
            }
        }
    }
}
@media (min-width:576px){
    .lead-page-section{
        margin-bottom: 5rem !important;
    }
    .services{
        .services-item{
            margin-bottom: 4rem;
        }
    }
}
@media (min-width:768px){
    .services{
        .services-item{
            margin-bottom: 0;
            &:nth-of-type(odd){
                .col-12{
                    &:first-child{
                        order: 2;
                    }
                    &:last-child{
                        order: 1;
                    }
                }
            }
            .row{
                &:last-child{
                    padding-left: 6px;
                    padding-right: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }
        }
    }
}
@media (min-width:992px){
    .lead-page-section{
        margin-bottom: 8.8rem !important;
    }
}
@media (min-width:1200px){
    .services{
        .services-item{
            margin-bottom: 0;
            aside{
                padding: 0 9.5rem;
                .services-title{
                    font-size: 36px;
                    line-height: 44px;

                }
            }
        }
    }
}